@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 18% 14%;
    --foreground: 0 0% 100%;

    --card: 225 18% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 225 18% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 255 85% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 18% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 225 18% 20%;
    --muted-foreground: 220 3% 57%;

    --accent: 225 18% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 3% 57%;
    --input: 225 18% 20%;
    --ring: 255 85% 75%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo-container {
  position: relative;
  overflow: hidden;
}

.logo-container img {
  transition: transform 0.3s ease;
}

.logo-container:hover img {
  transform: scale(1.1);
}